################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SurveyTool/Configuration/sirConnectionStrings.config
